.center {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 .button {
	 display: inline-block;
	 padding: 15px;
	 margin-right: 5px;
	 height: 50px;
	 min-width: 100px;
	 background: #348aa7;
	 border: none;
	 outline: none;
	 color: white;
	 font-family: inherit;
	 font-weight: 400;
	 font-size: 20px;
	 border-radius: 3px;
	 box-shadow: 0 5px 0px #348aa7;
	 border-bottom: 2px solid #30809b;
}
 .button:hover {
	 background: #2e7a94;
	 box-shadow: 0 4px 1px #2e7a94;
	 border-bottom: 2px solid #2a7088;
	 transition: all 0.1s ease-in;
}
 .button:active {
	 transform: translateY(4px);
	 border-bottom-width: 2px;
	 box-shadow: none;
}

